.topSection {
  max-width: 80%;
  height: auto;
}

.imageSection {
  float: left;
  width: calc(100% - 300px);
}

.galleryImageSize {
  vertical-align: middle; 
  position: relative;
  height: 90px;
  width: 60px;
  cursor: pointer;
  padding-top: 10px;
}

.gallery-li {
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
}

.gallery-li-hover {
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
}

.gallery-li::after {
  display: block;
  border-bottom: 3px solid white;
  position: relative;
  left: 0px;
  z-index: 2;
  content: "";
  width: 60px;
  height: 3px;
}

.gallery-li-hover::after {
  display: block;
  border-bottom: 3px solid gray;
  position: relative;
  left: 0px;
  z-index: 2;
  content: "";
  width: 60px;
  height: 3px;
}

#mainImage {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  transform-origin: top;
  display: block;
  cursor: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHhtbDpzcGFjZT0icHJlc2VydmUiIGhlaWdodD0iNDEiIHdpZHRoPSI0MSI+PHN0eWxlPi5zdDF7ZmlsbDpub25lO3N0cm9rZTojMzkzOTM5O3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMH08L3N0eWxlPjxjaXJjbGUgY3g9IjIwLjUiIGN5PSIyMC41IiByPSIyMCIgb3BhY2l0eT0iLjgiIGZpbGw9IiNmZmYiLz48ZyBpZD0iX3gzQ19Hcm91cF94M0VfXzdfIj48cGF0aCB0cmFuc2Zvcm09InJvdGF0ZSgtNDQuOTg0IDI2Ljc1IDI2Ljc1KSIgY2xhc3M9InN0MSIgZD0iTTI1LjUgMjNoMi40djcuNWgtMi40eiIvPjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0yMy44IDIzLjhsLTEtMSIvPjxjaXJjbGUgY2xhc3M9InN0MSIgY3g9IjE3LjgiIGN5PSIxNy44IiByPSI3Ii8+PHBhdGggY2xhc3M9InN0MSIgZD0iTTE0LjIgMTcuOGg3TTE3LjggMTQuMnY3Ii8+PC9nPjwvc3ZnPg==) 20 20,pointer!important;
}

#mainDiv {
  float: left
}

.mainImageSize {
  margin: 0 20%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  max-width: 25%;
  height: 50%;
}

.rightSideComponent {
  margin-left: auto;
  position: relative;
  display: block;
  float: left; 
  width: 300px;
  font-family: 'Mukta', sans-serif;
  color: #393939;
  /* line-height: 1.4; */
}


#itemName {
  /* margin: 0; */
  /* font-size: 2em; */
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.2rem;
  font-weight: 350;
}

#brand {
  font-size: .9rem;
  font-weight: 350;
  text-decoration: underline;
}

#price {
  font-weight: 700;
  font-size: 16px;
  text-decoration: bold;
}

#freeShipping {
  display: inline-block;
  margin-left: 30px;
  font-size: .8rem;
  font-weight: 200;
}

#descriptionText{
  font-size: .9rem;
  font-weight: 350;
  margin-top: 30px;
  line-height: 1.4;
  letter-spacing: .2px;
  margin-bottom: 40px;
}

.fit {
  width: 100%;
  margin: 0 0 5px;
}

#fitText {
  margin-right: 5px;
  font-weight: 700;
  font-size: .9rem;
}

#fitTip {
  font-size: .9rem;
  letter-spacing: .2px;
}

.sizeGuide {
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  display: flex;
  margin-top: 15px;
  margin-bottom: 12px;
}

.sizeGuideSpan {
  font-size: 13px;
  text-decoration: underline;
}
.colors {
  margin-left: 2px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#colorIconBorder {
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 2px #393939!important;
  height: 31px; 
  width: 31px;
}

img#colorIcon {
  border-radius: 50%;
  height: 31px;
  width: 31px;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
}
.colorName {
  margin: 0 0 0 15px;
  flex: 0 1 auto;
  font-size: .9rem;
}

.sizesOpen {
  overflow: auto;
  visibility: visible;
  background: #fff;
  box-shadow: 0 0 5px 1px #e3e3e3;
}

.sizesClosed {
  overflow: auto;
  visibility: visible;
  background: #fff;
}

.sizesOpenHeaderWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-bottom: 1px solid #e3e3e3;
}

.sizesOpenHeaderTitle {
  flex: 0 1 auto;
  margin-right: 5px;
  margin: 5px 0;
  font-weight: 700;
  font-size: 12px;
}

.sizeTextWhenOpen {
  padding-top: 12px;
  outline: 0;
  flex: 0 1 a 5px;
  font-size: 13px;
}

.sizeOptionsMenu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-type: disc;
}

.eachSizeDiv {
  display: block;
  position: relative;
}

.eachSize {
  outline: 0;
  list-style-type: none;
  cursor: pointer;
  height: 65px;
  padding: 0 15px;
  display: list-item;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 13px;
}

.sizeHover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: lightgray;
  border-bottom: 1px solid #e3e3e3;
}

.noSizeHover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
}

.sizesClosed {
  z-index: -1000;
}

#sizeButton {
  cursor: pointer;
  border: 1px solid #e3e3e3;
  padding: 12px 15px;
  outline: 0;
  flex: 0 1 auto;
  text-align: left;
  font-weight: 700;
  width: 300px;
}

.sizeValue {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

#arrowSpan {
  margin-left: auto;
}

.buttonArrow {
  overflow: hidden;
}


.addToBagComponentDiv {
  font-family: 'Mukta', sans-serif;
  float:right;
}

.quantity {
  margin-top: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#quantityField {
  width: 40px;
  height: 40px;
  min-width: 40px;
  text-align: center;
  outline-offset: -2px;
  outline: 2px solid transparent;
  border: 1px solid #bbb;
}

.addToBagButtonDiv {
  margin-top: 40px;
}

.addToBagButton {
  background: #000 none!important;
  border-color: #000;
  color: #fff!important;
  height: 50px;
  width: 300px;
  cursor: pointer;
  font-size: .9rem;
  margin-bottom: 12px;
}

/* .wishListDiv {
  margin-top: 12px;
} */

#wishListText {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  font-size: .9rem;
  text-decoration: underline;
}

.buyPickUpDiv {
  margin-top: 20px;
}

#buyPickUpPara {
  font-size: 12px;
  line-height: 1.38;
  font-weight: 700;
  margin: 0 0 5px;
}

#checkAvailPara {
  width: 100%;
  margin: 5px 0 15px;
  font-size: 15px;
  font-weight: 350;
}

#zipAndLocationDiv {
  display: flex;
}

#zipCode {
  box-sizing: border-box;
  flex: 0 0 130px;
  height: 40px;
  max-width: 130px;
  padding: 0 14px;
  color:#bbb;
  font-size: 15px;
  font-weight: 350;
}

#checkLocation {
  background: #000 none!important;
  border-color: #000;
  color: #fff!important;
  /* font-weight: 350; */
  height: 50px;
  cursor: pointer;
  align-items: center;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 10px!important;
  font-size: .9rem;
}








/* .modal {
  position: absolute;
  background-color: black;
  cursor: zoom-out;
  vertical-align: middle;
  z-index: -1
}

#modalButton {
  background-color: black;
  border-radius: 80%;
} */